.dropdown-toggle {
    cursor: pointer;
}

mat-toolbar {
    background-color: blue;
    color: white;
}

mat-sidenav {
    border-right: none;
    margin: 16px;
    width: 200px;
    background-color: violet;
    color: white;
    border-radius: 10px;
    text-align: center;
}

mat-sidebar-container {
    height: calc(100vh - 65px);
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    border-radius: 10px;
}