<mat-form-field appearance="fill" class="inputText">
    <mat-chip-list #chipList aria-label="categories selection">
        <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable"
            (removed)="remove(category)">
            {{category}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Search by category" #categoryInput [formControl]="categoryControl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
            ngModel>
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{category}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>